
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial;
    }

    body {
      min-height: 100vh;
      display: flex;
      background: #f3f4f6;
    }

    .btns {
      display: flex;
      gap: 10px;
    }

    .button {
      margin-top: 30px;
      margin-top: 30px;
      width: 175px;
      padding: 10px;
      background: #4b5563;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 4px;
    }

    .card {
      padding: 12px;
      border: 2px solid;
      border-radius: 6px;
      background: #f9fafb;
      display: grid;
      gap: 4px;
    }

    .done {
      opacity: 0.5;
      text-decoration: line-through;
    }

    .content {
      flex: 1;
      padding: 20px;
      margin: 15px;
      background: white;
      border-radius: 8px;
    }

    .checkbox-row {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    .date-tab {
      display: flex;
      flex-direction: column;
    }

    .date-details {
      padding-top: 25px;
      padding-bottom: 25px;
      width: 40%;
      background: #e5e7eb;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      /* margin-left: 10%; */
      display: none;
    }

    .flex-details{
      margin-left: 10%;
      display: flex;
      flex-direction: row;
      padding: 10px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 450px;
      padding: 15px;
      background: #e5e7eb;
      border-radius: 6px;
      margin-top: 20px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .header {
      display: flex;
      flex-direction: row;
    }

    .high {
      border-color: red;
    }

    .low {
      border-color: green;
    }

    .medium {
      border-color: orange;
    }

    #listView {
      margin-top: 20px;
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }

    .list-btn-cont {
      display: flex;
      flex-direction: row;
    }

    .list-btn {
      background-color: #4b5563;
      color: white;
      padding: 10px;
      flex-basis: 25%;
      margin: 10px;
      border-radius: 5px;
      opacity: 75%;
    }

    .layout {
      display: flex;
      flex: 1;
    }

    .search-input {
      margin-left : 5%;
      /* padding: 10px; */
      background: #4b5563;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 4px;
    }

    .sidebar {
      width: 200px;
      background: #1f2937;
      color: white;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    
    .sidebar *{
      padding: 10px;
      background: #4b5563;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 4px;
    }
    
    .sidebar *:hover{
      background: #6b7280;
    }

    .timeHeader {
      flex-basis: 70%;
    }

    #todayReminderbtn {
      display: block;
      margin-left: 35%;
      width: 175px;
      padding: 10px;
      background: #4b5563;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 4px;
    }

    #tableView {
      margin-top: 20px;
      background: #e5e7eb;
      padding: 10px;
      border-radius: 6px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 5px;
    }

    th,
    td {
      border: 1px solid #aaa;
      padding: 8px;
    }

    .action-btn {
      cursor: pointer;
      margin-right: 5px;
    }

    @media (max-width: 850px) {
      .layout {
        flex-direction: column;
      }

      .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid #aaa;
      }
    }

    @media (max-width: 550px) {

      .checkbox-row {
        flex-wrap: wrap;
      }

      form {
        max-width: 100%;
      }

      #listView {
        grid-template-columns: 1fr;
      }

      .sidebar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
      }

      table,
      th,
      td {
        font-size: 12px;
      }
    }